
<%
  var menus = [
    ["Welcome", "Home", "index"],
    ["About Us", "About Us", "about"],
    ["Contact Us", "Contact", "contact"]
  ];
%>

<header aria-label="site header">

  <h1 class="page-title  l-header__title">TITLE</h1>
  <a href="#main" class="visually-hidden">Skip to main content</a>

  <nav aria-labelledby="menu" class="l-header__nav" id="nav">
    <h2 id="menu" class="visually-hidden">Main Menu</h2>
    <ul id="nav-menus" class="nav-menus  is-hidden">
      <%_ menus.forEach( menu => { _%>
        <%_ if (menu[0] == pageTitle) { _%>
          <li class="nav-menus--item">
            <span class="visually-hidden">Current: </span>
            <span class="nav-menus--item__current"><%= menu[1] %></span>
          </li>
        <%_ } else { _%>
          <li class="nav-menus--item"><a class="interactive-item" href="<%= menu[2] %>"><%= menu[1] %></a></li>
        <%_ } _%>
      <%_ }); _%>
    </ul>
  </nav>
</header>
